# Hugging Face — Private model repository access
HF_TOKEN=
HF_MODEL_REPO=Pruthvii/netrx-models

# Model filenames (defaults used if not set)
NETRX_DR_MODEL_FILE=netrx_vit_b16_best.pth
NETRX_DME_MODEL_FILE=netrx_idrid_dme_vit_b16_best.pth
